[2014-10-23 16:03] jendabek opened #4 "images are not vertically centered - landscape mode, Chrome, iPhone 4"

[2014-11-06 14:13] littlepad opened #5 "Is this the latest code here?"
I think this isn't same with the code on http://osvaldas.info/examples/image-lightbox-responsive-touch-friendly/imagelightbox.js.

[2014-11-06 14:33] #5 closed, assigned to nobody

[2015-03-23 23:06] balapal opened #8 "Combining efforts"
I have found a few forks/initiatives/repositories based on http://osvaldas.info/image-lightbox-responsive-touch-friendly
Namely:
https://github.com/felipearosemena/imageLightbox
https://github.com/rejas/imagelightbox
https://github.com/mrchimp/imagelightbox
https://github.com/jeremydouglas/imagelightbox

I was wondering if you would be open combining those efforts?
I am raising this topic as a new

[2015-03-24 20:02] balapal commented on #8
I would advise continuing this discussion on one thread at https://github.com/mrchimp/imagelightbox/issues/3

[2015-03-30 19:22] #8 closed

[2015-04-22 09:57] Salon-sai opened #14 "The imagelightbox is used in the opera"
I use the imagelightbox in different browsers and find the opera (mobile) not supporting quitOnDocClick. After being clicked the overlay,  view will start the image which you click behind overlay. I try to test the demo in the opera(mobile) . The demo has the same problem.

[2015-04-24 09:52] rejas commented on #14
which opera version are you using exactly? i could not reproduce it with the Opera-Browser For Android v28

[2015-04-24 09:53] rejas commented on #4
could you provide a screenshot since i dont have an iphone?

[2015-04-27 13:26] Salon-sai commented on #14
I use the opera version is v10 and wechat. I find the problem is the touchend event is disabled in the browser, so I am change it in the demo. By the way , I think the loading image is not supported to dynamically add image, if you use the ajax in the web. Thus , I hope you can make it support. And I make it support with your imagelightbox in my github. I hope you find the proposals practical in m

[2015-04-27 21:14] rejas commented on #14
v10 seems a little outdated, but if your fixes work and don't have regressions on other browsers feel free to open a pull request.
as for your "dynamically adding an image"-feature: would like to see it merged, please open a pull request (optimally with some addendum to the documentation)

[2015-05-02 07:56] Salon-sai commented on #14
I pull the code and document to github. if you have some question , you can contact with me in github

[2015-05-02 11:33] rejas commented on #14
Tahnk you for the submission. I will comment directly in the pull-request.

[2015-05-07 03:53] #14 closed

[2015-06-02 17:40] amyhua opened #17 "Repeats the same image if multiple identical image URLs"
When there are multiple images with the same URL, it repeats the first image instance. This means that captions using image attributes (like the `alt`) do not change.

[2015-06-02 17:51] amyhua commented on #17
Sorry, this only applies to the demo captioning code. Closing this.

[2015-06-02 17:51] #17 closed

[2015-07-28 08:05] jmslbam opened #18 "anchors stop working after initializing imagelightbox"

[2015-07-28 08:47] rejas commented on #18
could you provide a link to your code where this happens?

[2015-07-28 08:57] jmslbam commented on #18
http://noordkade34.nl/

You can even check the code here https://github.com/noordkade34/noordkade34.github.io

[2015-07-28 08:58] jmslbam commented on #18
I use CodeKit to build everything and `python -m SimpleHTTPServer 8000 ` on my mac to run a simple webserver.

[2015-07-28 09:09] jmslbam commented on #18
When I refresh the page with the anchor it does jump, but the click just seems to be disapeared

[2015-07-28 09:13] rejas commented on #18
And when you dont initliaze the imageboxes it works?

[2015-07-28 09:14] jmslbam commented on #18
yupp

[2015-07-28 09:16] jmslbam commented on #18
All the links seem to stop working. also the `mailto` and `phone` ones.

btw I'm on OSX 10.9.2 and Latest FF and Chrome

[2015-07-28 09:18] rejas commented on #18
Strange indeed... Will take a look later today, hope you can wait :-)

[2015-07-28 09:19] jmslbam commented on #18
yupp, can wait, am debug-in it also. thanks btw!

[2015-07-28 09:32] jmslbam commented on #18
Ok found it, settings `quitOnDocClick: true` fixes it. So going with that one for now.

[2015-07-28 09:39] jmslbam commented on #18
It's this one https://github.com/rejas/imagelightbox/blob/master/src/imagelightbox.js#L319

Don't know why we wanted to prevent the default event of an the click on the `document`, you have a clue?

[2015-07-29 20:19] #18 closed

[2015-07-29 20:21] rejas commented on #18
think i found the issue, we should only prevent the event if the click happens when the lightbox is opened. can you confirm this fixes your problem?

[2015-08-18 16:46] AlvSovereign opened #20 "How to overlay to Image Lightbox"
Firstly, thanks for this awesome plugin.

In your Script Tag (from View Page Source Demo Page) you have defined a variable of OverlayOn, where is appends a div to the body element with the transparent overlay styling applied.

How would I go about activating OverlayOn?

Thanks

AlvSovereign

EDIT: So I have figured out from the JS that I'll need to replace the boolean values for the options onStar

[2015-08-19 15:05] #20 closed

[2015-10-09 15:20] DaniSchenk opened #22 "image load error handler"
hey! first, i really like your plugin, thank you for sharing...
i was wondering, if there is any error handling callback in your options.
i tried replacing the src element of the #imagelightbox by a default error image (with the onLoadStart option), but the img#imagelightbox element will not be created if the loading process of the image src fails, right?

i would like to replace the img src of th

[2015-10-25 18:02] rejas commented on #22
Hi Devbors,
right now there is no errorcallback handling implemented, would be possible though by expanding the error function in line 214 with something. Is your js experience good enough to make that yourself (and send me a pullrequest) or wuld yu wait for me (or someone else) to add it?

[2015-12-09 19:25] walterjenner opened #23 "Is there a way to avoid the 100ms timeout"
In line 229 there is a timeout duration of "options.animationSpeed + 10". That makes the image preloading kind of useless - is there a way avoid this delay?

[2015-12-24 17:07] fatihturan opened #24 "Is there any way to show images from data-images="" property?"
Hi,

Is there any way to show all images from data-images=“” property? Like a lightbox gallery will work from data-images="/img1.jpg,img2.jpg,img3.jpg"...

By the way I did it before with MagnificPopup plugin on my old web site ([you can check this example page](http://fatihturan.com/calismalarim/) also [code snippet](http://pastie.org/10651117)). But I want to accomplish this feature with this Im

[2015-12-28 15:20] THenkeDE commented on #24
Maybe this can help you out. Not the "best practice" i guess but it helped me once:

<a id="myBox1" href="img1.png" data-lightbox-images="img2.png,img3.png,img4.png">Start the Show</a>

	<script language="Javascript">
		$(document).ready(function() {
			var myImages = $('#myBox1').data('lightbox-images').split(',');
			if( myImages.length > 0 ) {
		        var gallery = $('#myBox1').imageLightbox(

[2016-01-06 09:48] fatihturan commented on #24
Unfortunately, it didn't work for me (or I can't run this example). Can you give me your example under the Jsfiddle or Jsbin?

[2016-01-06 15:48] THenkeDE commented on #24
my example is in a backend but if you can setup your test as a fiddle we could all have a look

[2016-01-29 16:52] paxperscientiam opened #25 "Lightbox bugs out with captions if any images lack "alt" attribute."
It's all there in the comments, though I'm unsure if it's also caused by an interaction with other functions. Basically, if any image is missing the "alt" attribute, the images will begin to "stack" as you move from one to the next.

EDIT: The above does NOT happen if the image has an empty alt attribute; however, the caption text persists rather than be replaced with an empty caption.

[2016-01-31 14:19] rejas commented on #25
Thanks for the report, I can reproduce it, will look into it.

[2016-01-31 14:28] #25 closed

[2016-01-31 18:26] rejas commented on #23
Sorry for not answering sooner. Did you try to remove the 100ms delay? Or does it break something?

[2016-01-31 22:29] walterjenner commented on #23
Yes I did - any it did break something. Not sure what exactly, though. If I set no delay in the code right now, it seems to work in my project. But last time I checked, I had some problems - i set the delay to 30ms, which did not cause problems (but my project is not live yet).

Sorry, for the diffuse answer :) I guess the delay is there for a reason, but I cannot see it at the moment (late at nig

[2016-02-01 21:26] rejas commented on #23
Since I only copied the code from the original author I am not sure why the delay either. How does the breakage manifest itself in your project?

[2016-02-01 22:51] walterjenner commented on #23
I could reproduce the error now. Without the delay the next image does not load/appear.

Still know idea, why..

[2016-02-03 19:28] paxperscientiam opened #26 "Including demo functions in the source?"
Hi @rejas ,

Have you given any thought into including your demo functions in the source file?

I think it would simplify things if you were to fold in captionOn(), captionOff(), navigationOn(), navigationOff, and etc into the source files.

What do you think?

[2016-02-04 19:10] rejas commented on #26
Heyho,
I thought a little about it but didnt find the time or right angle to tackle this issue. Do you have some code in mind or on disk alreay you could chip in?

[2016-02-05 16:19] paxperscientiam commented on #26
Hi @rejas ,

I do have some code, but it's not ready. I will send something your way though.

[2016-02-05 21:24] rejas commented on #26
Cool, looking forward to it.

[2016-02-06 19:45] paxperscientiam commented on #26
Just to give you an idea of what I'm doing, here's a bit of code.
[code]
And...
[code]

[2016-02-06 19:45] #26 closed

[2016-02-21 22:36] paxperscientiam opened #28 "Minor interesting bug"
Hi there @rejas

While working on the fork, I discovered an interesting bug that causes "alt" values to be recycled when reusing image links despite unique alt values. To clarify, I'm referring to the "href" values from "<a>" and not the "src" values from "<img>".

Here's a minimal example:
[code]

As you've likely surmised, this bug is relevant to the creation of HTML templates where it is typica

[2016-03-08 23:49] rejas commented on #28
Hi @paxperscientiam sorry for answering so late.

Seems like this bug only appears of the img src of the a-tags are the same? Can you confirm that?

[2016-03-29 15:48] paxperscientiam commented on #28
G'ah, wow, I'm late to respond!

No, it doesn't seem to matter how much "src" values are repeated. It happens only when "href" values are repeated.

[2016-03-30 13:50] rejas commented on #28
You're right. I fixed in the development branch. Or do you need it in the master?

[2016-03-30 13:50] #28 closed

[2016-03-30 15:15] paxperscientiam commented on #28
Cool. Nah, I don't need it in master. Where do we stand on the PR?

[2016-05-11 15:27] mrchimp opened #29 "Some of the defaults don't match the readme"
Activity, button, caption, navigation and overlay are all true in readme but false in the code.

Also, arrows is missing on the readme.

I'd submit a pull request but I'm in the middle of something right now.

[2016-05-11 16:06] #29 closed

[2016-05-11 16:07] rejas commented on #29
thx for reporting

[2016-05-20 14:18] hanwiz commented on #4
This should be related to a issue of height problem in iOS. Here is a workaround for this.

var screenWidth = $(window).width() * 0.8,
                    wHeight = (window.innerHeight) ? window.innerHeight : $(window).height(),
                    screenHeight = wHeight * 0.9,
                    tmpImage = new Image();

                tmpImage.src = image.attr('src');
                tmpImage.o

[2016-05-20 15:19] rejas commented on #4
Is this still an issue with the latest ios release? And if so, might you be itnerested in doing a pull request for the fix?

[2016-05-20 19:47] hanwiz opened #31 "iOS8 Safari arrow button sometimes skips image..."
Arrow button usually skips the next image and show the next, next image. This behavior doesn't occur on the original imagelightbox nor using swipe.

[2016-05-21 09:30] rejas commented on #31
I only have ios9 here in my simulator and cant reproduce it. Do you have an ios9 device to confirm?

[2016-05-21 09:37] rejas commented on #4
fixed via https://github.com/rejas/imagelightbox/commit/e39a42ba968efd45be13a25bd0e996bf3b71b252

[2016-05-21 09:37] #4 closed

[2016-05-23 04:14] jackmcpickle opened #32 "Publish on npm?"
Any change you could do this? So we can use it in our js stack.

[2016-05-23 06:15] rejas commented on #32
done :-) https://www.npmjs.com/package/imagelightbox

[2016-05-23 06:15] #32 closed

[2016-07-08 15:44] paxperscientiam opened #33 "Some thoughts on further improvements"
Hey @rejas

I don't think captions should fade away when switching from image to the next: it seems like an unnecessary distraction. If instead the caption box remained when changing over images, I think it would be better.

On the UX side of things, the ability to slide over to the next image via trackpad or mobile screen, would be great. Is this something you've thought about? If interested, I c

[2016-07-13 13:49] ritualgym opened #34 "Multiple Instances?"
I cannot safely "destroy" the plugin if i am trying to use it and it gets called multiple times?  It will append "n" number of plugins depending on how many times it has been initialised.  Can we make it that only one instance of the plugin can run for any single selector?

e.g.
var selectorF = 'a[data-imagelightbox="f"]';
        var instanceF = $(selectorF).imageLightbox();

Calling this twice w

[2016-07-16 17:50] rejas commented on #33
Hey pax, thx for the input. My thoughts:
- fading captions: didnt notice it before, that was already in the original code. in my opinion the default look&feel should be as smooth as possible while allowing to modifgy it to your own needs as much as possible. so yes, probably the fade should go...
- sliding via touch/trackpad is a MUST (so much for testing my stuff on mobile ;-),  so your hand woul

[2016-07-18 14:07] hanwiz commented on #31
Yep, I don't see any problem in ios9 simulator, too. Any way, I think it's related to the preload function. What does this load function do?

$('<img />').attr('src', nextTarget.attr('href')).load();

[2016-07-19 01:44] paxperscientiam commented on #33
@rejas
Hey, good to hear from you.

• I don't know much about project management WRT Github. Can you put the fading captions issue on a to-do list?
• To this end, I think we want a sliding motion to be equivalent to pressing left/right buttons, correct?
• Scope creep alert! Yeah, you are totally right.
• I actually started tinkering with deeplinking and it's going well so far. I hope to put up a r

[2016-07-21 15:00] rejas opened #35 "Remove fading from captions"
From "paxperscientiam": I don't think captions should fade away when switching from image to the next: it seems like an unnecessary distraction. If instead the caption box remained when changing over images, I think it would be better.

[2016-07-21 15:01] rejas opened #36 "Add swipe/slide/zoom functionality"
From "paxperscientiam": On the UX side of things, the ability to slide over to the next image via trackpad or mobile screen, would be great. To this end, I think we want a sliding motion to be equivalent to pressing left/right buttons, correct?"

Correct :-)

[2016-07-21 15:02] rejas opened #37 "Add DeepLinking functionality"
From "paxperscientiam": I actually started tinkering with deeplinking (linking to image X so that the imagebox opens directly with it) and it's going well so far. I hope to put up a rough draft soon. You can expect something on this end.

[2016-07-21 15:04] rejas commented on #33
Added new issues for all three feature enhancements you mentioned. That should be enough with regards to project managemnt here. If you have a pull request for any of this features, just mention the issue url in the commit and all should be fine I think. Thanks for the input.

[2016-07-21 15:04] #33 closed

[2016-07-21 15:10] rejas commented on #31
That line creates a new img tag, adds the href of the nextTarget to it  as the src and loads the img. As for the IOS8 problem, is IOS8 still relevant? Shouldnt the vast majority of users be on IOS9 by now?

[2016-07-21 15:15] rejas commented on #34
Weird, I thought I already responded to this issue... Well, anyway.... Since I hadnt had that usecase of multiple isntance or having to destroy the imagelightbox, I didnt bother about it. Did you already code it for yourself? Always happy for pull requests ;-)

[2016-07-22 16:09] hanwiz commented on #31
I mean the "load" function at the end of the line because that is one difference from the original version. In jQuery, load without argument doesn't have any meaning and I think it does cause some issue on ios 8. After removing the load function, my ios 8 simulator doesn't skip the image any more.

[2016-07-22 16:33] hanwiz commented on #23
I think this is related to the image sliding animation. It is sliding the image and then remove it with the options.animationSpeed. If you remove the 100ms, loading and removing is done at the same time. This causes undefined behavior - I mean, image can or cannot appear.

[2016-07-22 20:19] paxperscientiam commented on #35
OK, think I've figured this one out, but more testing is needed. Also, it'll be part of an omnibus PR.

[2016-07-23 06:25] paxperscientiam commented on #34
In my retooling, i use a div wrapper for the ILB elements. Quitting ILB causes those nested components to be destroyed.

I think in order to allow multiple groups (instances based on different class selectors), event handling has to be namespaced.

[2016-07-23 09:31] rejas commented on #31
The meaning of that "load" is to preload the next image, for how the call works see this link: https://stackoverflow.com/questions/23158635/using-jquery-load-with-no-arguments-to-preload-an-image A maybe cleaner way (since load() was deprecated in jquery 1.8) would be this:
`(new Image()).src = nextTarget.attr('href');`
Could you test this line for IOS8?

[2016-07-23 09:33] rejas commented on #31
You can also test it by checking out the branch "issue31_preload"

[2016-07-25 15:26] hanwiz commented on #31
It's still skipping images, but I found a real issue on this. Currently, ios8, for the right arrow, when you click about left half of the arrow, click and touchend event both happens to skip the image.

As we can make the image skip using double tap or double click on other devices in similar way, can we prevent this using some kind of delay?

[2016-07-25 20:49] rejas commented on #31
Could you try it out with the new version 0.5.0? Maybe the fixes for jquery3 had some impact on your problem.

[2016-07-26 15:36] hanwiz commented on #31
Oh my god! 0.5.0 removes the load function at the end of the line and this should work as I commented previously.

[2016-07-26 16:17] rejas commented on #31
So I guess I can close this issue....

[2016-07-26 16:17] #31 closed

[2016-08-02 19:26] rejas opened #42 "startImageLightbox is broken in v0.5.0"

[2016-08-08 05:03] rejas opened #44 "Add History functionality"

[2016-08-09 07:20] lbausch opened #45 "npm release"
Would you mind tagging a npm release, please? :)
npm still shows 0.4.3 as the latest release: https://www.npmjs.com/package/imagelightbox

[2016-08-09 08:05] rejas commented on #45
of course :-) I always forget that, sorry. Done!

[2016-08-09 08:05] #45 closed

[2016-09-06 10:42] F22-Raptor-2006 opened #47 "Mouse click on touchscreen laptop broken"
With the default settings the lightbox opens fine on desktop and you can navigate by clicking on the left and right of the image or close by clicking outside the image. However on my laptop which has a touchscreen (perhaps the reason) it opens fine but then does not respond to any mouse input. I must use the touchscreen to get any response from it.

[2016-09-06 11:14] rejas commented on #47
Hi, what browser/os are you using on your laptop? does the browser console show anything? and on the demo page, do all demos show this bug?

[2016-09-06 12:06] F22-Raptor-2006 commented on #47
Hi I'm using Chrome on Win 10 x64, this happens with nearly all of the demos on the demo page here too: https://rejas.github.io/imagelightbox/ Only the close demo and other demos with the X button or on screen navigation allow me to navigate/close. Otherwise I cannot close or change the picture once open.

The console only shows warnings for `Mixed Content: The page at 'https://rejas.github.io/ima

[2016-09-09 08:54] rejas commented on #47
I got my hands on a touch/click device and can confirm your bug report. Will take a look at it (probably due to a faulty if touch clause...

[2016-09-09 10:32] F22-Raptor-2006 commented on #47
Great thanks!

[2016-09-12 09:46] rejas commented on #47
Created a branch for this issue and did some work. Could you check that out and see if the demos work now better for you?

[2016-09-12 18:14] F22-Raptor-2006 commented on #47
Sorry it doesn't seem to be working, getting some errors in the console as well:

`jQuery.Deferred exception: t.on is not a function TypeError: t.on is not a function
    at d (http://cdn.rawgit.com/rejas/imagelightbox/issue_47/dist/imagelightbox.min.js:1:692)
    at HTMLDocument.<anonymous> (http://cdn.rawgit.com/rejas/imagelightbox/issue_47/dist/imagelightbox.min.js:1:6367)
    at j (http://cdnj

[2016-09-13 21:43] rejas commented on #47
Yeah, my fault :-( Anyway, I added some fixes, could you retry one more time? Much appreciated...

[2016-09-14 10:18] masiorama commented on #42
Still broken on 0.5.1 as for the minified version on dist directory. The not minified inside the src folder works.

[2016-09-14 10:53] rejas commented on #42
Might have forgotten to update that dist file last time :-) Could you re-test with v0.5.2 ?

[2016-09-14 11:02] masiorama commented on #42
Sure, no problem. Already updated? I still see the old dist directory...

[2016-09-14 11:04] rejas commented on #42
How you you install the project? Via bower or npm?

[2016-09-14 11:14] masiorama commented on #42
Bower

[2016-09-14 11:20] masiorama commented on #42
Now it works perfectly, thanks. :+1:

[2016-09-14 11:45] rejas commented on #42
Awesome. Have a nice day.

[2016-09-14 11:45] #42 closed

[2016-09-14 12:04] masiorama opened #48 "Add less/sass support"
It would be nice to also have less and/or sass version of the stylesheet for those who work primarly with preprocessors rather than plain css.

[2016-09-14 22:26] Buntix opened #49 "HTML5 srcset and sizes"
'allo!

I've added support for the above (and generic target to image-tag mapping) as on https://github.com/Buntix/imagelightbox and https://github.com/Buntix/imagelightbox#passing-parameters-to-lightbox-images Also added back the link filtering via the 'allowedTypes' config option as it became a lot simpler post the above transform.

All things being equal, it's running at:  http://www.deverecars

[2016-09-15 20:09] rejas commented on #48
I mainly work with less as a preprocessor so I cannot speak for the sass-side of things. So in less I would import the stylesheet css and overwrite anything that doesnt fit my design. Where would less be of any help there? The main primary goal is having a minimal css that is easily overwritten (by not having a high specifity that prevents it) So if there are css classes that are too heavy, would

[2016-09-15 20:12] rejas commented on #49
I gladly take pull requests that add new functionality (which already seems to be needed when I look at your example). Of course, maybe I wouldn't necessarily agree on some technicalities but those could be worked on in a pull request. Could you start with the srcset/size patch first (and later add another PR for the link filtering (since it seems to depend on the former) so we dont mix features b

[2016-09-16 07:16] masiorama commented on #48
From what you've written I dig more in less options and find out that this
`@import (css) "foo.css";`
actually accomplish what I needed. I wasn't aware of import options features.
As you said the css is really minimal and I cannot find any reason to pack your dist with less/sass version of the css. You can close, thank you very much! :-)

[2016-09-16 07:49] rejas commented on #48
Glad I could help with the import feature. But I didnt want to discourage you if you wanted to convert the css into less (and submit a PR), I just thought for me I couldnt find the time for it. The css needs a little cleanup anyway, so why not convert it in less (if you really want to help ;-)

[2016-09-16 07:49] #48 closed

[2016-09-19 13:36] F22-Raptor-2006 commented on #47
Sorry I've been meaning to test it but I keep forgetting. Just had a go today and there are no errors now. I can now close the lightbox by clicking anywhere outside of the picture. However the functionality for going to the previous or next picture by clicking on the left or right sides of the picture doesn't work. Swiping left and right on the touchscreen does but not the click. (this should be t

[2016-10-18 01:15] paxperscientiam commented on #35
This can be closed. See PR #58

[2016-10-18 10:28] #35 closed

[2016-10-18 15:13] rejas opened #63 "Fix demos after imagelightbox sets merge"
The "dynamically adding" and "with manual trigger" examples dont work correctly anymore after merging https://github.com/rejas/imagelightbox/pull/62 :-(

[2016-10-24 02:12] paxperscientiam commented on #34
@ritualgym, see latest release.

[2016-10-27 01:56] paxperscientiam commented on #36
@rejas Just for the record, there is no interest in adding dependencies, correct?

[2016-10-27 09:48] rejas commented on #36
No, only if it was very very small. For exmaple issue #47 would be really easy to fix if I would use hammer.js but then the size of the library doubles....

[2016-10-28 10:30] rejas commented on #63
@paxperscientiam those features still need to be fixed before any new release can be done, are you on it?

[2016-11-18 10:28] bbbenji opened #72 "[Request] Custom height not dependant on viewport"
I would like to have the option to define a minimum height for an image which would allow it to expand past the viewport and display more via scrolling. Maybe a better solution would be to set a minimum width on images instead.

[Example before](http://i.imgur.com/KYijfRv.png)
[Example after](http://i.imgur.com/bnAzPcK.png)

[2016-11-25 04:52] paxperscientiam opened #73 "Incorrect nav element counting on some user-agents"
This was reported by a client using iOS and Chrome on OSX.

It seems that in certain cases, the nav elements are double counted. This might be related to a counter not being reset or something not being properly destroyed.

[2016-11-25 20:02] rejas commented on #73
"Certain cases" means every time or only sometimes?

[2016-11-25 22:49] paxperscientiam commented on #73
@rejas OK, nevermind, client (read:I) was mistaken.

[2016-11-25 22:49] #73 closed

[2016-12-01 05:14] paxperscientiam commented on #63
@rejas examining

[2016-12-01 06:15] paxperscientiam opened #75 "questions about testing suite"
Hi @rejas

I think the testing server is really cool and useful. There are a few minor issues though.

* Can you set the index page so that it only shows files/dirs meant to be tested? If you check out [this](https://www.dropbox.com/s/ru5by3zeztiiyv2/Screenshot%202016-12-01%2001.12.04.png?dl=0) screenshot, you'll see that a lot of cruft winds up getting listed.
* Not sure if this should be handled

[2016-12-01 06:49] rejas commented on #63
thx for the fix of the manual trigger, dynamic add is still broken though.
not sure why your tests dont fail. to see the bug manully, add the image and click on it and then on the nav button

[2016-12-01 06:54] paxperscientiam commented on #72
Hi @bbbenji . Can you provide a use-case? It would help.

[2016-12-01 07:08] bbbenji commented on #72
Sure @paxperscientiam, for example if the image to be displayed is 800 x 3000, an infographic. The images max height is constrained to the viewport height, it will be unreadable. Therefore if it was constrained by width and scrolling was allowed, the image would show at a size comparable to the original, if not original. This would allow readability of any text on the image.

[2016-12-01 07:32] rejas commented on #75
- Sorry, can't see the screenshot, dropbox claims it's still uplaoding :-)
- Not sure if that can be supressed in the git diff, but adding the dist to the ignore is the wrong approach, sorry.

[2016-12-01 19:10] paxperscientiam commented on #72
Thanks @bbbenji , I will look into this.
@rejas

I've had a similar problem and have used [openseadragon](https://github.com/openseadragon/openseadragon). It works quite well, though it is a real pain to setup.

Anyway, this shouldn't take to long to figure. Thanks for your patience.

[2016-12-01 19:43] paxperscientiam commented on #63
Ah. See you at the new PR.

[2016-12-01 19:47] paxperscientiam commented on #75
Ug, my dropbox is playing catch up. Sorry.

OK, I had a feeling that that was a collaborator-side issue.

Does the gulpfile not automatically open a browser tab by default? Also, live refresh is not working for me.

[2016-12-01 20:37] rejas commented on #63
thx again!

[2016-12-01 20:37] #63 closed

[2016-12-01 20:39] rejas commented on #75
Didn't look at livereloading there yet to be honest. How do you want to use it there?

[2016-12-02 00:28] paxperscientiam commented on #75
I believe edits to "src/*" triggers a build of production files, which are sent to "dist/". In addition, it looks like a copy "src/imagelightbox.css" and "src/imagelightbox.js" are sent to "docs/stylesheets/" and "docs/javascripts/", respectively.

With that all laid out there, I'd say that changes to "docs/stylesheets/*", "docs/javascripts/", and "docs/index.html" should trigger a refresh. This w

[2016-12-02 00:58] paxperscientiam opened #78 "feature request: dynamically generated imagelightbox"
To extend the dynamic image addition concept, allow for provision of an image directory that can be used for dynamically generating imagelightbox sets. This is where extension filter would come in handy.

This would be for...like... v1.0?

[2016-12-02 04:33] paxperscientiam commented on #63
You're welcome :)

[2016-12-03 15:29] rejas commented on #78
To be honest, I dont see this as a feature for a frontend library.
To get it working it would have to depend on an api in the backend to get the data, update the html and run its code itself. All while the page loads, which would lead to a lot of time passing until the lightbox gets displayed. If someone really wants to do it he can call the "dynamic add" mutliple times from his code.

[2016-12-03 15:42] rejas commented on #75
You are right with your observation in paragraph1. The docs get an extra copy since they are used for the github.io page as well as for the tests.
Question: How many times do you edit the files in the docs-dir? Updated the demo page shouldn happen too often and the tests (unless I screw something up) are somewhere else anyway.

[2016-12-03 16:48] paxperscientiam commented on #78
The difference here is that the problem of dynamically adding unknown images requires a programmatic solution. Sure, for a directory that will only ever have a handful of images, this is overkill. For a directory with with hundreds of images, different story.

Yeah, this is ideal. I myself use PHP to dynamically create image links.

While possibly solveable with some Ajax-y stuff, it probably is b

[2016-12-04 01:11] paxperscientiam commented on #75
Hey @rejas

As much as necessary, no? My understanding is that the demo source doubles as testing materials for repo contributors. At least, that's how I've been using it.

[2016-12-05 18:41] rejas commented on #75
Yes, they double :-) Any more questions?

[2016-12-05 18:45] rejas commented on #78
Yeah, still not convinced that this is really needed, feasible or in the scope of this project. However it would be implkemented it would add a lot of code for a rarely used feature. And the feature can still be implemented outside of this library in other javascript. Sorry, have to pass on this idea.

[2016-12-05 18:45] #78 closed

[2016-12-06 21:55] paxperscientiam opened #82 "Sizing does not properly account for caption space"
So, by default, I think the caption should not ever overlap the image; as well, there should be minimum margin (spacing between caption and image).

Here is an example that shows a shortcoming on one of the iPhones (one of the narrower ones, I suppose).

[portrait](https://www.dropbox.com/s/pwvnf0zrmw4uuzi/Screenshot%202016-12-06%2016.51.32.png?dl=0)
[landscape](https://www.dropbox.com/s/yf6qlfmt8

[2016-12-07 01:21] paxperscientiam commented on #82
Feel free to assign this to me.

[2016-12-07 05:43] paxperscientiam commented on #22
@DevbrosDevelopment @rejas I'm looking into implementing Promise, which can be used for this.

[2016-12-07 18:07] paxperscientiam commented on #82
I believe this is resolved by PR #84

[2016-12-10 20:06] paxperscientiam opened #89 "How to contact?"
This is unrelated to the project, but how do I contact you? I checked your website, but couldn't find an email.

In case you're on linkedin, here's [me](https://www.linkedin.com/in/paxperscientiam).

[2016-12-11 21:46] paxperscientiam opened #90 "Extend overlay effects?"
Extending is more work and probably beyond scope; however, I like the idea of improving the aesthetic of the overlay with a soft blur.

What do you think?

Here's a [WIP](https://github.com/paxperscientiam/imagelightbox/tree/improved-background-effects).

[2016-12-13 15:17] rejas commented on #90
I dont think this should be part of a library. The default css should be as small as possible and the user be able to add his own stuff.

[2016-12-13 15:17] #90 closed

[2016-12-13 15:41] #75 closed

[2016-12-13 16:39] #82 closed

[2016-12-13 16:40] paxperscientiam commented on #36
@rejas just to update, mobile finger sliding works just fine. It's only trackpad that does not.

[2016-12-13 16:59] #89 closed

[2016-12-13 23:27] vasilyman opened #91 "Multiple gallery auto"
This is code for unlimited gallerys:

    var attrs = {};
    var classes = $("a[data-imagelightbox]").map(function(indx, element){
      var key = $(element).attr("data-imagelightbox");
      attrs[key] = true;
      return attrs;
    });
    var attrsName = Object.keys(attrs);

    attrsName.forEach(function(entry) {
        $( "[data-imagelightbox='"+entry+"']" ).imageLightbox({
            ove

[2016-12-13 23:31] vasilyman opened #92 "Function of closing swipe up and down. zoom function in phones."
Great plugin, thanks! Please add function of closing swipe up and down. zoom function in phones.

[2016-12-13 23:49] rejas commented on #36
Trackpads? Well, for those that want to add support for that, they could use their own library for detecting that an call a function for next / prev on our library. what do you think?

[2016-12-13 23:52] rejas commented on #92
Interesting idea. Closing via swipe seems feasible, zooming would be a little trickier without a third party lib...

[2016-12-13 23:53] rejas commented on #91
Nice, would you make a pullrequest for that?

[2016-12-14 00:14] vasilyman commented on #91
not sure I could do it at the moment. I just registered on GitHub and is not understood at this site. I am glad that someone this snippet will be useful.

[2016-12-14 05:12] paxperscientiam commented on #91
Thank you for the contribution @vasilyman. Would you mind providing a minimally working example?

[2016-12-14 11:24] vasilyman commented on #91
working example:
https://jsfiddle.net/7ow26fcg/

[2016-12-21 04:28] paxperscientiam opened #101 "user-level interaction with multiple sets (matrix)"
What do you think, @rejas, of allowing for the creation of a 2D imageLightbox? Basically, there is some trigger to open two or more imageLightbox sets. While the 'left' and 'right' actions will continue to work as they do now, 'up' and 'down' actions would switch user-level interaction to another imageLightbox.

This basically piggybacks off of #92
EDIT: Also piggy backs off of #91

[2016-12-21 12:29] rejas commented on #101
very interesting idea if it can be done without too much growth size :-)

[2016-12-24 05:47] paxperscientiam opened #106 "Auto document?"
I think it would be a good idea to programmatically generate documentation from the comments.

[2016-12-24 09:57] rejas commented on #106
like in javadoc?

[2016-12-28 23:27] paxperscientiam commented on #106
Yeah

[2017-01-02 18:03] rejas commented on #106
I see the value for the options and events but to be honest, I havent looked at any js-doc at all in my career :-) any recommmendations/ideas?

[2017-01-26 02:07] paxperscientiam opened #107 "Use CSS to hide links that don't wrap images"
It seems that sometimes the default display property for anchor elements can clash with flex stuff. I haven't quite nailed down the specifics. That said, setting anchor elements without dependents to `display:none` seems like the safer bet.

I will do this.

[2017-02-02 17:47] ZilvinasKucinskas opened #108 "Image flows to the right and disappears [Laptops with touchscreen]"
**Steps to reproduce**

1.  Open incognito mode (no extensions)
2. Open imagelightbox demo page https://rejas.github.io/imagelightbox/
3. Open image in fullscreen
4. Move mouse
5. Image flows to the right and disappears

This bug seems to be happening only on laptops with touchscreen (tested 3 of them).

Can we expect a fix?

[2017-02-02 19:51] rejas commented on #108
Question: How exactly do you move the mouse? And happens it with all demos on the page?

[2017-02-06 04:45] paxperscientiam opened #109 ""Next image" and "previous image" mapped incorrectly to arrows"
Is it just me, or are arrows incorrectly triggered next and previous image loading?

Clicking the right arrow should load the next image; however, it seems to be doing the opposite. This is probably a sign error or similar.

[2017-02-06 05:40] paxperscientiam opened #110 "Double-tap (or, double-click) image for fullscreen"
@rejas I looked into the possibility of introducing fullscreen support via the Fullscreen API. I think it looks great. You?

What do you think about introducing this as feature?

The __easiest__ way would be to use a library like [screenful.js](https://github.com/sindresorhus/screenfull.js).

[2017-02-06 15:41] rejas commented on #109
I cant see anything wrong when looking at the github.demo page or current master. The "arrow" example you mean?

[2017-02-06 15:44] rejas commented on #110
I like the idea. I am not sure if we need a third party library for that, screensful.js looks not that complicated. And caniuse seems to indicate that the fullscreen api is pretty got supported.

[2017-02-07 04:35] paxperscientiam commented on #109
@rejas Man, I don't know when I wrote that. Maybe I was dreaming it; site seems fine now.

I'll close.

[2017-02-07 10:20] rejas commented on #109
True, I can reproduce that behaviour in Firefox Responsive Design Mode. But only there, neither Firefox for Android nor Chrome for Android shows this bug on my smartphone... Maybe related to issue #47 ?

[2017-02-10 10:39] mspann opened #113 "Compatibility with bootstrap"
When I include imagelightbox.min.js to my project, the collapse-Button of the Navigation-Bar created with bootstrap does not work anymore. Is this a known issue?

[2017-02-10 12:43] rejas commented on #113
It isnt. Is there a site I can see that behaviour? Or can you look if error shows up in your brwoser console?

[2017-02-10 15:01] mspann commented on #113
test.spannmacher.com
Either the bootstrap dropdown works or the lightbox - but never both.

[2017-02-10 15:19] rejas commented on #113
Could you try to set quitOnDocClick option to false when initializing the imagelightbox?

[2017-02-10 15:21] mspann commented on #113
Done. Unfortunately the issue persits.

[2017-02-10 15:31] mspann commented on #113
I was able to narrow down the problem. It occurs when
`<script>$( function() {
$('a[data-imagelightbox="ufo"]').imageLightbox({button: true, quitOnDocClick: true, navigation: false, arrows: true, overlay: true, caption: true});
$('a[data-imagelightbox="dreifeld"]').imageLightbox({button: true, quitOnDocClick: true, navigation: false, arrows: true, overlay: true, caption: true});
$('a[data-imagelig

[2017-02-10 15:33] rejas commented on #113
So did you change all lines of "quitOnDocClick: true," to false?

[2017-02-10 15:36] mspann commented on #113
Yes i did. Sorry, had the old version in the clipboard.
I also tried replacing `$(function() {` with `$(document).ready(function() {` but that also didn't change anything. Do I need to use any other lines of code when using Imagelightbox? Because the lightbox itself works flawless - just not the combination of my bootstrap collapsed nav menu and imagelightbox.

[2017-02-10 15:43] rejas commented on #113
No, you shouldnt need any other lines of code. Could you try another config:

.imageLightbox({button: true, quitOnDocClick: false});

for all 3 galleries and see if it then works?

Also I see a googlemap error on your page, that probably doesnt have to do with this issue but nevertheless should be fixed to be sure.

[2017-02-10 15:49] mspann commented on #113
Just to make sure, I've removed the google map for now. Tried the config above and unfortunately doesn't work.

[2017-02-10 16:19] rejas commented on #113
Strange strange, but at least I have some (non-)working example set up at my computer where I can take a better look now. Can't guarantee tthough that I get it fixed today.

[2017-02-10 16:20] mspann commented on #113
If you need anything from me let me know! I appreciate the support!

[2017-02-10 17:18] #113 closed

[2017-02-10 17:20] rejas commented on #113
Published v0.7.1 in the npm-registry, should fix your problems :-)

[2017-02-11 13:21] komenixx opened #114 "$(document).off('click', options.selector) affects other 3rd libraries."
https://github.com/rejas/imagelightbox/blob/master/src/imagelightbox.js#L561

[2017-02-11 14:54] rejas commented on #114
could you specify the affected libraries and what sideeffects happen?

[2017-02-11 14:56] komenixx commented on #114
For example, affects the bootstrap click events. For example navbar

[2017-02-11 15:19] rejas commented on #114
I fixed an issue with bootstraps navbar (and probably other click events on the document selector) with yesterays release 0.7.1 Did you try that one out? And if it still persists, is there a live site I can see the bug in action?

[2017-02-11 15:37] komenixx commented on #114
Aaaaaah... I checked latest release yesterday maybe hour before than you publish 0.7.1

In 0.7.1 works. Thanks

[2017-02-11 15:49] #114 closed

[2017-02-15 06:25] RistoNiinemets commented on #108
This is a issue with Touch-enabled Windows devices (maybe laptops?). Also for me.

If I hover on any of the images, the image will pop right. After hovering again, it will disappear.

[2017-02-15 13:30] ZilvinasKucinskas commented on #108
@rejas I just got a chance to try it out with touch screen computer today.

Summary:
1. Filter images by extension part of https://rejas.github.io/imagelightbox/ - It does not open, however it seems to not work on my normal laptop too.
2. All example images tries to escape the mouse.
  a) When you click on an image and if mouse is not hovered over image - image stays at the center of the screen. O

[2017-02-15 14:41] RistoNiinemets commented on #108
Well, my laptop does not have touchscreen, but the problem occoured. It has something to do with latest Google Chrome versions or Windows 10 updates.

I fixed my issue with this:
https://github.com/osvaldasvalutis/imageLightbox.js/issues/3#issuecomment-269925816

[2017-02-15 17:27] rejas commented on #108
Could you both try out v0.7.2 i just realeased?

[2017-02-16 09:27] rejas commented on #47
hi @F22-Raptor-2006, could you test the latest version 0.7.2 if that problem still persists?

[2017-02-16 09:36] #109 closed

[2017-02-16 09:37] rejas commented on #109
The real problem wasn't that the arrow buttons were mapped incorrectly. Instead the "next" "prev" action was triggered twice, resulting in what looks like going from image2 to image1 but really going from image2 to image3 and then to image1.

[2017-02-16 20:32] paxperscientiam commented on #109
That is curious. Glad you figured it out...something to learn from.

[2017-02-20 14:57] ZilvinasKucinskas commented on #108
@rejas I don't personally have touch screen computer, but user reported that problem is solved with v0.7.2.

Good job! Thank you.

[2017-02-20 14:58] #108 closed

[2017-03-16 03:35] paxperscientiam commented on #110
What is the proper way to cite someone's work?

I am using code from both [Mozilla](https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API) and (David Walsh)(https://davidwalsh.name/fullscreen).

I'll submit PR for you to see what I mean.

[2017-03-16 09:41] rejas commented on #110
Not sure what you use from Mozilla but those few lines from David Walsh I think are not citeworthy, that's just common logic.

[2017-03-17 19:54] #110 closed

[2017-04-23 19:55] paxperscientiam opened #119 "Roadmap?"
hey @rejas @GenaBitu , etc,

I'm resurrecting this thread in attempt to aggregate all the ideas that we've been bouncing around. My thinking is that if we can put together a sort of "roadmap", it'll ensure that development of `imagelightbox` moves forward in a coherent fashion.

If you guys are down, just tell me what to add/tweak. Maybe it would be a good idea to finish this first before merging

[2017-04-24 09:18] rejas commented on #119
Hi pax, no vision from my side, I was waiting for pull requests from you :-) The history feature you dont plan on following up on again?

[2017-04-24 14:54] paul-frost opened #120 "Easy way to disable on small screens?"
In my case the thumbnail images of 300px are already filling a phone screen, so the popup function is no advantage and probably a worse user experience.

[2017-04-24 18:08] rejas commented on #120
The only immediate solution that comes to my mind is to not initialize the lightbox library when the screen is too small. That can be handled by your code that calls the imagelightbox. Know how to do it?

[2017-04-24 19:30] paul-frost commented on #120
I could do with some help on that. I've never managed to get my head around javascript apart from making modifications to existing code.

[2017-04-25 17:47] paxperscientiam commented on #119
I do.

[2017-04-26 15:58] paul-frost commented on #120
I have a seperate JS file with a few jQuery bits in and have added this, which seems to work.

[code]

[2017-04-27 14:26] rejas commented on #120
Nice to hear that.

[2017-04-27 14:26] #120 closed

[2017-05-07 19:51] greenkeeper[bot] opened #121 "An in-range update of gulp-clean-css is breaking the build 🚨"
## Version **3.1.0** of [gulp-clean-css](https://github.com/scniro/gulp-clean-css) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/rejas/imagelightbox/compare/greenkeeper%2Fgulp-clean-css-3.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      gulp-clean-css
    </td>
  </tr>
  <tr>

[2017-05-16 14:12] #121 closed

[2017-06-16 06:09] RyanGosden opened #125 "Possibility to offer via npm in the future"
Thank you for keeping this project alive. Are you thinking of providing this plugin via npm in the future?

[2017-06-16 12:23] rejas commented on #125
Thx. It is already available at https://www.npmjs.com/package/imagelightbox

[2017-06-16 12:23] #125 closed

[2017-06-18 17:43] RyanGosden commented on #125
Excellent stuff! - sorry missed that.

[2017-06-18 18:03] RyanGosden opened #126 "Possibility to add 'onLoadEnd' hook (when popup has completely loaded.)"
Possibility to add 'onLoadEnd' hook similar to original repo.

I ran into the issue where I wanted to obtain width, height and position attributes of popup element ('#archive_lightbox') in order to add an overlay. Although when using 'loaded.ilb2', the element had not been created yet, leading to an undefined.

[2017-06-20 08:44] #126 closed

[2017-06-20 08:59] rejas commented on #126
Thx for the bug report, I moved the event trigger back to when the element is really loaded so that you wont get an undefined anymore

[2017-06-22 12:00] RyanGosden commented on #126
@rejas - Great stuff - thank you for the fast response.

[2017-07-03 05:16] AriosChief opened #128 "How can I align the image center of the screen?"
Hello!
I was hoping there is a standard way to do this, without hooks
So, how?

[2017-07-03 10:38] rejas commented on #128
It should be centered by default. So maybe you experience a bug? Anyway, a little more explanation about your situation would help a lot.
Thx in advance

[2017-07-03 10:43] AriosChief commented on #128
I meant to center vertically.
I'm sorry that I did not immediately written.

[2017-07-03 18:26] AriosChief commented on #128
If the picture with a small height that it sticks to the top
http://joxi.ru/l2ZL8JEH8wopXr - screenshot. I replaced the picture of the example.

[2017-07-03 18:40] rejas commented on #128
Ah, i see. I will look into it (maybe tomorrow)

[2017-07-04 15:59] rejas commented on #128
I do have a fix for it locally (check the issue_128-branch out), but it would disabled for now the gutter and offsetY options. Not sure if they are needed anymore. Hopefully @paxperscientiam can weigh in why they are needed?

[2017-07-05 14:09] moxdev commented on #128
Experiencing the same exact issue. No matter what size the image is pinned to the top of the browser 15px from the top. Was not using the gutter or offsetY options. Below are the options I used:

`activity: true,
arrows: true,
button:true,
lockbody:true,
overlay:true,
preloadNext: true`

Same issue in version 7.6 and 7.5 scripts. Reverting back to version 7.2 seems to have resolved the issue.

[2017-07-05 14:17] rejas commented on #128
Yeah, after 7.2 the positioning of the image changed. But did you try the "issue_128"-branch to see if my pending changes there fixes it for you?

[2017-07-06 02:48] paxperscientiam commented on #128
@rejas I'll take a looky

[2017-07-16 17:27] paxperscientiam opened #129 "Flash an indicator for fullscreen"
When fullscreen is possible, a message should flash or otherwise indicate to user that the `enter` key will toggle fullscreen mode.

[2017-07-20 10:41] #24 closed

[2017-07-20 14:45] paxperscientiam opened #131 "Styling entry a la webpack"
This is a reminder for @paxperscientiam

[2017-09-07 21:22] Art4 commented on #47
@rejas I tried to used version 0.7.2, but it isn't published on npmjs.org, see `$ npm view imagelightbox`

[2017-09-07 22:09] Art4 commented on #37
I was able to do exactly this thing with version 0.5.4:

[code]

Unfortunately this don't work anymore if I updated to 0.7.2 or higher, because of the refactoring for the fullscreen feature.

[2017-09-08 16:42] rejas commented on #47
Will do once I am back from holidays in 10 days and have my PC in front of me again :-) THX for your patience in advance

[2017-09-11 20:58] Phoca commented on #128
Hi everyone,
I just encountered the same problem. The bug occurs when full size images with different resolutions are used. It looks to me that the popup is centered to the size of the first element, images with other resolutions stick to the top.
I created a [fiddle to demonstrate it](https://jsfiddle.net/cxbbeLkn/3/).

[2017-09-17 07:10] rejas commented on #47
@Art4 could you try one of the newer versions? 0.7.7 should have the fix for it too and its published on npm...

[2017-09-17 11:37] Art4 commented on #47
I don't have a touchscreen laptop, but a user of my site reported this bug with v0.5.4.

I've already tried v0.7.2 out with the github url in the package.json, but I could not deploy it to our site because of the missing deep linkage I described in #37.

[2017-09-17 15:23] rejas commented on #37
I updated the code to allow deep linking and added an example on how to achieve it now. Thanks for your code!

[2017-09-17 15:23] #37 closed

[2017-09-17 15:31] rejas commented on #47
Hopefully 0.7.8 can now be deployed at your site to check the original bug out :-)

[2017-09-17 15:38] Art4 commented on #47
Great! :tada:  I will update as far as I can and will report the feedback.

[2017-09-18 16:59] rejas commented on #128
I just released v0.7.9 which should fix the positioning

[2017-09-18 16:59] #128 closed

[2017-09-18 19:34] Phoca commented on #128
thank you, works for me now 👍

[2017-09-24 15:09] Art4 opened #133 "Bug: keydown:Enter is blocked by imagelightbox"
imagelightbox blocks the use of the Enter button.

### How to reproduce

1. Go to https://rejas.github.io/imagelightbox/ with your browser
2. Open the developer tools [F12]
3. Manipulate the DOM with creating a `textarea` tag after the container div, see the example below
4. Click inside the new textarea to focus it
5. Try to create a line break by using the Enter key on your keyboard.

**Code exa

[2017-09-24 15:37] Art4 commented on #133
v0.7.1 don't have this bug. It was introduced somewhere between v0.7.1 and v0.7.5.

[2017-09-24 18:37] rejas commented on #133
First: Best bug report I've seen in my life, well done!
Second: Confirmed, introduced via commit 36de2f0bcd1b7e904b26f8dbccc79577404608b6 in https://github.com/rejas/imagelightbox/pull/118
Third: Maybe @paxperscientiam can say for what that culprit line 559 is needed?

[2017-09-24 19:41] paxperscientiam commented on #133
Hello @rejas and @Art4

Yes, this is a good observation. I had set enter to toggle fullscreen.

@Art4 , Is it "released" when you exit the lightbox?

@rejas , maybe a key combo would be a better idea?

[2017-09-24 19:49] Art4 commented on #133
@paxperscientiam No, I can open and close the fullscreen, but the Enter key has no effect.

[2017-09-24 20:42] rejas commented on #133
@paxperscientiam what does the key do ?

[2017-09-25 02:45] Art4 commented on #133
What about a new button in the right bottom corner for the fullscreen mode instead of a key combo?

[2017-09-27 21:42] paxperscientiam commented on #133
Its supposed to toggle fullscreen

Christopher

Sent from my iPhone

On Sep 24, 2017 4:42 PM, "Veeck" <notifications@github.com> wrote:

[2017-09-27 21:43] paxperscientiam commented on #133
I like that. Iirc, @rejas did not like it. But that was long ago. Maybe
he's changed his mind

Christopher

Sent from my iPhone

On Sep 24, 2017 10:45 PM, "Artur Weigandt" <notifications@github.com> wrote:

What about a new button in the right bottom corner for the fullscreen mode
instead of a key combo?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2017-09-28 09:22] rejas commented on #133
Will take a look at #129 seperatly :-)
As for this issue: I think the underlying bug is a that the key press is handled even when the imagelightbox is not opened. That also leads to strange behaviour when one navigates with the left/right keys. All those keypresses should only get handled when the lightbox is opened and present. Otherwise they get propagated to the document normally. Agree?

[2017-09-28 09:24] Art4 commented on #133
Agreed.

[2017-10-09 22:05] Livingboy opened #134 "Search form doesn't work in combination with imagelightbox"
Hi guys,

I found a problem with imagelightbox in combination with the search form.
I'm using the imagelightbox on several subpages and on each of them the search form doesn't work if I hit enter. The lightbox works great on each page, but hitting the enter button on the keyboard doesn't redirect to the search page.
Am I the only one with that issue? How can it be solved?

Search form:
[code]

My

[2017-10-09 23:34] Livingboy commented on #134
Hi guys,

After some research and analyzing the source code I found out, that the following lines cause the issue:

$(document).on('keydown.ilb7', function (e) {
     if ([13].indexOf(e.which) > -1) {
         e.preventDefault();
     }
});

Best, Benjamin

[2017-10-10 07:56] rejas commented on #134
Hi Benjamin, yes this is a know issue already, see issue #133 If you want you can try out the branch "issue_133" to see if it fixes your problem (and doesnt introduce new ones :-)

[2017-10-10 07:56] #134 closed

[2017-10-11 13:50] rejas commented on #133
Release v0.8.0, hope it helps :-)

[2017-10-11 13:50] #133 closed

[2017-11-02 04:02] beneklisefski opened #136 "Image slide animations go the wrong directions!"
This (bug?) is visible on the demo page as well as on my own implementation. When I go to the "next" image I would expect that image to slide in from the right side (right to left), and when going to previous image it should slide in left to right. However this plugin appears to slide images in from the reverse direction expected. How can I switch this direction?

It's especially awkward on touch

[2017-11-03 15:36] rejas commented on #136
You are right, that is counter-intiutive. Luckily its just a few lines to change.

[2017-11-03 15:36] #136 closed

[2017-11-11 11:51] rejas commented on #131
Pinging @paxperscientiam: Can you elaborate or can I close this?

[2017-11-12 03:28] paxperscientiam commented on #131
I think you should close @rejas. I don't know when I'll be able to think
about it :/

On Sat, Nov 11, 2017 at 6:51 AM, Veeck <notifications@github.com> wrote:

[2017-11-12 10:13] rejas commented on #131
Still curious what you mean with that. We do have a style entry in package.json already, or what do you mean?

[2017-11-12 21:57] paxperscientiam commented on #131
IIRC, it had something to do with webpack. I added a script entry point or
something for webpack a while back.

On Sun, Nov 12, 2017 at 5:13 AM, Veeck <notifications@github.com> wrote:

[2017-11-13 09:39] rejas commented on #131
Well, already have a main entry in package.json, works in my webpack project, so yeah, closing this....

[2017-11-13 09:39] #131 closed

[2018-02-19 14:33] LukasSliacky opened #137 "JSFiddle example not works with current version of imagelightbox"
Hi,
i use your great Image Lightbox in my web project, but i have problem with "Multiple sets",
Example in jsfiddle works fine (Linux: Firefox, Chromium), but when i try it on Win Chrome {v64.0.3282.167 (64-bits)), i have this problem:

After click on image (maximize img) and move with mouse cursor, image is fast move out of window.

When i try use current version of lib (copy & paste) on begin of

[2018-02-23 19:54] eladkarako opened #138 "Change http to https (website demo CSS error)"
in <code>https://rejas.github.io/imagelightbox/stylesheets/demo.css</code>
change the <code>@import url('http://fonts.googleapis.</code> to <code>@import url('//fonts.googleapis.</code>

<sub><em>(or better yet, since it isn't your CDN: <code>@import url('<strong>https</strong>://fonts.googleapis.</strong></code> so it will work on IE too...)</em></sub>

<img src="https://i.imgur.com/ZeV1DM1l.png"

[2018-02-24 08:47] #138 closed

[2018-02-24 08:48] rejas commented on #138
Thx for the hint, much appreciated!

[2018-03-01 15:29] rejas commented on #137
Yeah, that example seems way out of date, didnt look at it for ages.

[2018-05-07 16:02] GenaBitu opened #141 "allowedTypes validation breaks images without extension"
When loading images that do not have an extension (e. g. from a third party service), the function `isTargetValid` effectively breaks the gallery because most images are discarded. Currently I see no way to turn this off as the `allowedTypes` is checked so `.*` cannot be put there.

[2018-05-07 16:53] rejas commented on #141
Yeah, that feature has rotten something sicne the reworks. Will take a look later at it, has to be fixed anyway :-)

[2018-05-07 19:40] GenaBitu commented on #141
To put my two cents in - is such a feature even useful? I can't imagine a situation where I would like to filter by file type - if I'd want to add the lightbox to some images only, I would do that with the `data-imagelightbox` argument...

[2018-05-08 09:34] #141 closed

[2018-05-08 09:36] rejas commented on #141
Well, the feature was in the original authors code so I didnt remove it (the usefulness is indeed questionable). You can check out v0.9.0 where you could use the emptry string as the parameter for allowedTypes to make it work with any files. Please report any errors I made :-D

[2018-05-08 11:39] GenaBitu commented on #141
Works like a charm, thank you very much for the amazing work you've done on this package to get it to be more usable than the original.

[2018-05-08 19:05] rejas commented on #141
always happy to help but most of the work was done by @osvaldasvalutis and @paxperscientiam :-) might i ask if are you using the package in a real-life project which we could mention here?

[2018-05-12 13:22] GenaBitu opened #143 "Fullscreen is off by default"
Fullscreen is off by default, but the README (and npm readme) says it's on by default.

[2018-05-12 13:34] #143 closed

[2018-05-12 13:34] rejas commented on #143
Thx for the info.

[2018-05-12 13:40] rejas commented on #129
Good point @GenaBitu. Also, most browsers already show some message when fullscreen is triggered. So I am closing this issue.

[2018-05-12 13:45] rejas opened #144 "Fullscreen not working for latest IE EDGE"

[2018-05-12 13:52] GenaBitu commented on #129
Oh, I don't think it was meant as a message when fullscreen is triggered - I think it was meant as a message kind of like "You can press Enter to enter fullscreen" when the lightbox is opened, because otherwise most user won't know about the option to do so.

[2018-05-12 14:01] rejas commented on #129
Aaaah, correct... Maybe an icon would suffice? But where to put it?

[2018-05-12 14:11] GenaBitu commented on #129
Oh, I don't know about an icon, but maybe it could work if done well. I was kind of imagining something like a floating caption in the bottom right corner that disappears after `n` seconds...

[2018-05-20 10:14] GenaBitu commented on #141
I am making a WordPress plugin which makes galleries out of Google Drive folders - feel free to check it out at https://github.com/skaut/skaut-google-drive-gallery (some of it is in czech but not much). I am using imagelightbox for the galleries as it seems to be a good middle ground between usable and not bloated...

[2018-05-22 02:53] paxperscientiam commented on #141
I don't remember the original intention, but I had always seen it as a very simple extension-based filter for dynamically generated galleries.

It would / could *not* serve as validation.

[2018-06-04 09:15] rejas commented on #129
Right now I have other projects to focus on so I leave this issue open but wont do it myself.
If somebody comes up with a good mockup, I'd reconsider this (dont do a PR before a design/idea is formulated). But normally your page should show this hint and not the library.

[2018-06-05 21:37] paxperscientiam commented on #129
I'm on the, but IIRC there is a pretty widely accepted icon for indicating
fullscreen

On Mon, Jun 4, 2018, 5:15 AM Veeck <notifications@github.com> wrote:

[2018-06-05 21:45] GenaBitu commented on #129
http://fontello.com/#search=fullscreen
Maybe in combination with
https://www.iconfinder.com/icons/2961578/computer_device_enter_key_keyboard_return_icon#size=256

[2018-06-06 14:58] rejas commented on #129
Well, there are icons for fullscreen indeed but those are for clicking on it, not for signalling "hey, press enter to go fullscreen"
And showing two icons sidebyside (icon_fullscreen)(icon_enter_key) seems convoluted to me....

[2018-06-06 15:10] GenaBitu commented on #129
Ok, why not go the simple route and instead of a fullscreen hint add a fullscreen button?

[2018-06-14 10:37] rejas commented on #129
Where would you put it in attached image?
![screenshot-2018-6-14 imagelightbox](https://user-images.githubusercontent.com/1313547/41407422-a7d1ed24-6fcf-11e8-969f-760ea862b0e3.png)

[2018-06-14 17:22] GenaBitu commented on #129
My idea would be either in the bottom right of the image or in the bottom right of the screen. (Thats purely subjective though...) Also I think the idea of the button disappearing after some timeout might also make sense here (especially if the button would be over the image...)

[2018-06-17 17:04] GenaBitu commented on #141
I only now got around to making a demo page for the plugin: https://demo-skaut-google-drive-gallery.skauting.cz - There is an example of a simple gallery and a galllery with subdirectories - both using imagelightbox.
Also, I've written some info about what the plugin actually does over here: https://wordpress.org/plugins/skaut-google-drive-gallery/

[2018-06-19 14:56] GenaBitu opened #147 "Saving the current position in a gallery"
Hi, I wanted to make individual images sendable, so I thought I would add the currently open image id to the adress so that if you want to send someone a particular image, you can just grab the address and it will open the same image.
I thought I would go about it with the `start.ilb2` etc. hooks changing the address, but I can't seem to get any info about the original image in there. The trouble

[2018-06-19 15:03] rejas commented on #147
It isalready  possible to do deep linking. On the demo page it is implemented and can be triggered by opening it like this for exmaple:
`https://rejas.github.io/imagelightbox/#showImage_2`

[2018-06-19 15:54] rejas commented on #147
Ahhh, okay. Well, @paxperscientiam started some wotj with a history integration in https://github.com/rejas/imagelightbox/pull/104 but I am not sure how much the code diverged since then. Will have to take a look I think.

[2018-06-19 16:04] GenaBitu commented on #147
Ok, thank you, I will take a look :)

[2018-06-28 17:02] rejas commented on #147
so I guess we can close this now :-) thx for your work!

[2018-06-28 17:22] GenaBitu commented on #147
Yeah, thanks for your responses and help with shaping the PR.

[2018-06-29 09:09] GenaBitu commented on #147
Another thing - are you planning on releasing this as a new version some time soon?

[2018-06-29 15:03] rejas commented on #147
Thought of preapring a v0.10 release this weekend use that as an unofficial 1.0-RC to get it tested :-)

[2018-09-30 03:30] ivancp opened #158 "Video plays all at the same time"
When I put the video data with in a list of 2+ items, when you click in one of them with autoplay=true all videos plays at the same time.

Also I noticed the id for <video> tag is the same for all.

[2018-10-03 14:03] GenaBitu commented on #158
Hi, I will look into it, that's a serious issue.

[2018-10-11 17:35] GenaBitu commented on #158
Confirming the issue, happens to me as well.

[2018-10-11 20:12] rejas commented on #158
Think you can fix it @GenaBitu ?

[2018-10-26 23:26] paxperscientiam opened #162 "Magnification"
What?
Add option to override image's dimensions.

Why?
Avoid needing excess CSS when using 1px placeholder images.

Since I did a lot of the weird relative dimension stuff re gutters and what not, I'll take care of this one!

[2018-10-27 11:12] rejas commented on #162
Happy for any PR. Is there an example for this placeholder use case?

[2018-10-27 18:55] paxperscientiam commented on #162
Use case is prototyping without http requests: 1 px image using a data-uri, scaled to desired dimensions.

Maybe, it should just be a "prototyping" feature or something? Yeah, PR coming!

[2018-11-01 18:51] paxperscientiam commented on #48
@rejas Do you still use Less? I use Scss and I was just wondering about providing both the source file and the dist file.

[2018-11-01 20:51] rejas commented on #48
Yeah, I'd say too that the need for less/sass isnt really there. A simple css with low specifity is fine.

[2018-11-24 17:55] GenaBitu opened #167 "[not validated] History and dynamic adding don't work together"
I have a very strong feeling that history and dynamic adding won't work together due to the way history is implemented. Oh, well...

Will look into it more.

[2018-11-24 18:09] GenaBitu commented on #167
Yep, popback is broken. Who knows what reloading an open image will do, since it may not have been added to the lightbox yet.

[2018-11-25 08:37] rejas commented on #167
Shows how many people so far have used those functonalities together :-D

[2018-12-01 20:40] paxperscientiam opened #171 "Recognize gallery namespaces implicitly (zero (JS) config)"
Feature request: add option to automatically create lightbox gallery (or galleries) from elements when attribute `data-imagelightbox` is non-zero/non-null, making as many lightbox galleries as there are unique `data-imagelightbox` values.

[2018-12-03 14:07] GenaBitu opened #174 "Dynamically added images are not available until reopening the lightbox"
If I open a lightbox, then some code adds images to it, then these images aren't available until the lightbox is closed and re-opened.

[2018-12-03 14:37] GenaBitu commented on #174
Oh, this mess is caused by the `targets` and `origTargets` variables, the same as #167. I don't really understand what the difference is between them.

[2018-12-06 14:05] marekdedic opened #176 "Scrolling just fast enough breaks the order of images."
Best seen with the navigation on:

I was trying the navigation example from the docs and if i "scroll" twice in a succession, the navigation moves by 2 images, but the actual image only by 1 - so the navigation becomes out of sync with the actual image.

When I scroll further, it turns out that the navigation is taken as the "ground truth", not the actual image - so you can miss an image if you ar

[2018-12-06 14:07] GenaBitu commented on #176
Oh, and this happens on `develop`, so I didn't cause this with #174 :) (I originally thought I might have)

[2018-12-06 17:13] greenkeeper[bot] opened #177 "An in-range update of gulp-connect is breaking the build 🚨"
## The devDependency [gulp-connect](https://github.com/avevlad/gulp-connect) was updated from `5.6.1` to `5.7.0`.

🚨 [View failing branch](https://github.com/rejas/imagelightbox/compare/master...rejas:greenkeeper%2Fgulp-connect-5.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

gulp-connect is a devDependency of this

[2018-12-06 17:42] GenaBitu commented on #177
...caused by failing Travis build...

[2018-12-06 17:42] #177 closed

[2018-12-06 18:05] GenaBitu commented on #158
Closing for inactivity - should be fixed already.

[2018-12-06 18:05] #158 closed

[2018-12-06 18:05] #174 closed

[2018-12-06 20:03] GenaBitu commented on #176
Ok, some preliminary notes:

The `loaded` event never fires for the "skipped" image. Obviously some kind of race condition

[2018-12-06 20:04] rejas commented on #176
Grmpfl, the "best" kind of issues :-(

[2018-12-06 21:48] GenaBitu commented on #176
Ok, I've removed the line...

Now the event on line 520 (f6d3c13) never fires, so the third image is never displayed.

[2018-12-06 23:41] GenaBitu commented on #176
Ok, I'm seeing 2 phenomena:
Either the event on line 520 never fires, or
line 492 doesn't append the image to the wrapper.

(Both line numbers in commit f6d3c13).

For either, I have no idea why.

[2018-12-09 10:48] rejas commented on #176
So probably nothing we can fix easily ?

[2018-12-13 15:20] rejas commented on #119
Could you open a new issue for this? Recycling issues is confusing when old comments are still there....

[2018-12-13 15:20] #119 closed

[2018-12-13 17:48] paxperscientiam opened #185 "Roadmap collab"
hey @rejas @marekdedic , etc,

Let's aggregate all the ideas that we've been bouncing around into a roadmap. It'll ensure that development of `imagelightbox` moves forward in a coherent fashion.

What is a "lightbox"?
In short, it's a [modal window](https://en.wikipedia.org/wiki/Modal_window) with the background content "darkened" or obscured.

Broad questions to answer, according to [Nielson Norm

[2018-12-19 19:51] GenaBitu commented on #185
Hey, @rejas and @paxperscientiam if you are ok with it, I would merge develop into master and then merge the new master into all PRs to keep them up-to-date. @paxperscientiam would need to do that for all his PRs as well.

As a result, I think there are more branches to be deleted or merged. (`issue_47` and `touch_zoom` for example - for those I don't know what they are about).

[2018-12-19 22:50] paxperscientiam commented on #185
@GenaBitu All of my open PRs are to `master`. Does that mean I have nothing to do?

[2018-12-19 23:46] GenaBitu commented on #185
No, since this move would merge some new commits from `develop` to `master`, you would then need to merge those into your PRs

[2018-12-24 08:41] rejas commented on #185
@GenaBitu I'm ok with it :-) Happy Xmas!

[2018-12-27 17:54] GenaBitu commented on #185
Hi, Happy Christmas to you as well!
I've merged it.
@paxperscientiam, this created merge conflicts in #165, #173, #180 and #182. If they are to be merged (not sure for some), please merge the current master into them.

[2019-01-01 04:09] robaxx opened #186 "Suggestion: Allow pinch-zooming on touch devices"
The suggestion is to allow the user to use the pinch-to-zoom feature to zoom in on the lightbox image.
Some lightbox scripts allow this, but this one doesn't. I'm unsure what exactly stops it zooming, but it must be something in the script.

[2019-01-04 08:38] rejas commented on #186
hi @robaxx similar to https://github.com/rejas/imagelightbox/issues/36 I wouldnt know how to do this without adding another dependency. Could you maybe give an example of anothe rlightbox that handles this without a third party library?

[2019-01-16 17:21] greenkeeper[bot] opened #187 "An in-range update of gulp-lintspaces is breaking the build 🚨"
## The devDependency [gulp-lintspaces](https://github.com/AlbertoElias/gulp-lintspaces) was updated from `1.0.0` to `1.0.1`.

🚨 [View failing branch](https://github.com/rejas/imagelightbox/compare/master...rejas:greenkeeper%2Fgulp-lintspaces-1.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

gulp-lintspaces is a devDe

[2019-03-22 08:16] #187 closed

[2019-03-22 08:24] rejas commented on #137
Works on my chrome, closing this issue for now

[2019-03-22 08:24] #137 closed

[2019-03-22 08:26] rejas commented on #34
Closing since multiple instances should work for several releases already. Please open a new ticket if something is still wrong..

[2019-03-22 08:26] #34 closed

[2019-03-22 08:29] rejas commented on #186
Closing this in favor of https://github.com/rejas/imagelightbox/issues/36

[2019-03-22 08:29] #186 closed

[2019-03-22 08:29] rejas commented on #92
Closing this in favor of https://github.com/rejas/imagelightbox/issues/36

[2019-03-22 08:29] #92 closed

[2019-03-27 15:25] GenaBitu opened #191 "Proposal: Don't display caption "bar", if there is no caption for the image"
Hey, I have a proposal:
When captions are turned on, the caption "bar" (i. e. the element on the bottom) is displayed even for images with no or empty caption. I would like to change this so that it is hidden for such images.

@rejas @paxperscientiam If you're ok with this change, I would make a PR...

[2019-03-27 15:40] rejas commented on #191
Sounds good to me.

[2019-03-27 23:15] #144 closed

[2019-04-01 19:34] leffi7 opened #193 "Clicking the image/video itself always navigates to previous image/video"
Hi,

I am using Chrome version 73.0.3683.86 (Officiële build) (64-bits)

When I click an image itself, it navigates to the previous image. I noticed the same behaviour on the demo page: http://rejas.github.io/imagelightbox/
image 1 goes to image 3, image 3 to image 2, ...

This might be a little confusing:
1. Shouldn't you navigate to the next image: 1 to 2, 2 to 3, etc...
2. Especially when using

[2019-04-01 19:53] GenaBitu commented on #193
Hi,
oh, this is not the intended behaviour at all, it should obviously go to the next one... And in case ogf the video, it should play it, which it does on FF (my browser of choice), but apparently not in Chrome.
Thanks for spotting this, this is a bug.

[2019-04-01 20:39] rejas commented on #193
For the prev/next issue I have an idea why it happens.

[2019-04-01 21:13] GenaBitu commented on #193
My (first) idea for the video issue is:
The video should play on click, but it should also move to the next image. This means that there are two events listening for a click. And different browsers prefer different events.

If this is the case, that would mean that we should only add the onclick scroll to images, not videos.

[2019-04-02 17:42] leffi7 commented on #193
An additional issue: I noticed the video controls aren't working at all on Safari. Firefox and Chrome are OK.

Hope this helps somehow.

Thx!!

[2019-04-03 08:09] GenaBitu commented on #193
Hi,
I think I fixed the video part in #195 - it works at least in my Chromium...
@leffi7 Could you please check it in Safari?

Thanks...

[2019-04-03 09:24] leffi7 commented on #193
Works perfect! I checked in Chrome, Safari and Firefox.

Very nice!

Thank you!!

[2019-04-03 09:24] #193 closed

[2019-04-03 11:24] GenaBitu commented on #193
Great. I have one more change to make and then could we make it a new release, @rejas?

[2019-04-12 13:27] rejas commented on #185
Got no views on it :-) Not sure if it is overkill for this little  library but if you want to I dont object. Would release a v1.0.0 this weekend though and afterwards we can go for bigger reworks like that

[2019-04-13 17:09] marekdedic commented on #185
Yeah... Well I was thinking about making TS typings for the library, but then, well, why not actually use it... But that would be for the future for sure...

[2019-05-31 08:53] rejas opened #199 "Transfer ownership"
hey @marekdedic
I am about to release v1.0.0 with the current master branch as is.
Given the facts that I am not actively using this library anymore and that in the foreseeable future I will have to consolidate my dev activities I am thinking of handing maintainership of this library over to you. That would also include npm publishing rights.
Would you be willing to take this over?

[2019-06-03 12:07] marekdedic commented on #199
Hi,
I'm sorry to hear that you no longer have the time for the project - although I understand...

I would gladly take over for the time being. I hope other contributors (of which I know only of @paxperscientiam) would be willing to continue to contribute.

Thanks,
Marek

[2019-06-03 21:21] rejas commented on #199
Initialised transfer. Now I'd need your npm handle :-)

[2019-06-04 06:28] marekdedic commented on #199
The same as here, `marekdedic` :) (I just created it...)

[2019-06-04 07:09] rejas commented on #199
Done :-) Thx for taking over!

[2019-06-04 07:09] #199 closed

[2019-06-05 03:26] paxperscientiam commented on #199
@rejas , you've been such a good steward of this project. IDK if original author ever gave his opinion of this fork, but it's been a joy to contribute. ILB has matured a lot.
@marekdedic , I wish I could say for sure, but I hope to contribute more!

@rejas , could luck with your endeavors 👍

[2019-06-05 09:09] marekdedic commented on #199
I can confirm I have the repo and the NPM package under my account now.

@rejas Thanks for making this package and making it easier to use (the original was rather bare-bones). You're still welcome to occasionally pop in with an opinion or a PR, depending on your time... Good luck!@paxperscientiam I think the pace is rather slow, but I don't necessarily think that's a bad thing...

[2019-06-06 08:36] rejas commented on #199
Thx you two for helping me with the library. Of course I will still stick around and watch this repo ;-)

[2019-06-26 14:32] marekdedic opened #203 "Fix CI"

[2019-06-27 06:02] #203 closed

[2019-07-19 11:14] marekdedic opened #210 "The lightbox doesn't prevent clicking things under it - esp. other lightbox entries"

[2019-08-01 12:25] MarioBuehne opened #212 "Cant close Lightbox"
So i have lightbox added to my page but everytime i click on an image i cant close it.
The only things i changed in the lightbox.js file is that i have setted every quit value (except quitOnEnd) to true.

[test.txt](https://github.com/marekdedic/imagelightbox/files/3456654/test.txt)

[2019-08-05 14:48] marekdedic commented on #212
Hi,
Did you use the proper selector? From the file you've included it doesn't seem so... Take a look at the docs included in this repo to find out how to do it...

[2019-08-05 14:48] #212 closed

[2019-11-26 22:01] paxperscientiam opened #223 "Feature request: imagelightbox selector in overlay"
For scenarios where there are >1 ILB galleries, it would neat if the user could "jump" from gallery to gallery by clicking associated tabs when any given lightbox set is activated. Seamlessly and stuff.

[2019-11-26 22:03] paxperscientiam commented on #185
@marekdedic , are you interested in translating the codebase to TS? I have experience with writing jQuery plugins in TS.

[2019-11-27 00:11] marekdedic commented on #185
Hi, check out #198. I think it is mostly converted to TS. However, this reveals some bad design decisions made previously :/

[2019-11-27 05:04] paxperscientiam commented on #185
I'm starting to play with the code and the first area of improvement that comes to mind is that the code could be broken up into a "master" and imports.

[2019-11-27 12:22] marekdedic commented on #185
@paxperscientiam I've added you as a collaborator so that you can work with the repo easier. Also so that you can do reviews - I would like yours on #198...

[2019-12-10 21:52] paxperscientiam commented on #176
@marekdedic any chance to demonstrate this on video/gif?

[2019-12-11 15:34] marekdedic commented on #176
https://send.firefox.com/download/875d90a82aba36b9/#Zi6jF8A64vFALZUaFS41ow

I was pressing the right arrow twice (once on the first image and a second time just as the second image was arriving). The after a while I pressed left once. Pay attention to the navigation on the bottom.

[2020-02-25 18:39] andreas-mausch opened #233 "Swipe doesn't work if quitOnImgClick is set"
Haven't tested it, but maybe just change the order of the `ifs` here?
https://github.com/marekdedic/imagelightbox/blob/d26fbd0db7c45fd1bb40f5b7654519d6461c938f/src/imagelightbox.js#L512

[2020-02-26 09:33] marekdedic commented on #233
Hi,
thanks for the report. I am not sure whether changing the order would or would not then break quitOnClick on touch devices.... Will look into it

[2020-11-16 19:05] ledeniz commented on #36
For me zooming doesn't work on Pixel XL with Android 9 and Chrome 86.0.4240.198

Do you have to configure it the right way to work? Or did you mean sliding next/prev and not zooming?

[2022-08-08 07:54] marekdedic opened #369 "Investigate navigation in RTL settings"
In a RTL setting (e. g. Arabic), should the lightbox reverse directions? I.e. next image is to the left instead of to the right.

[2022-08-08 07:58] marekdedic opened #370 "Configurable click targets"
Currently (as of #196), clicking the left third of the image goes to previous, the right two thirds go to next. Maybe we should make this configurable?

See the discussion in #196 as well as #369

[2022-08-08 22:08] #176 closed

[2022-08-09 09:36] marekdedic commented on #210
Hi, @paxperscientiam, you did some investigation - do you still see the issue? I can't seem to replicate it, but I don't think it got fixed... :/

[2022-08-09 09:51] marekdedic commented on #106
Isn't this mostly obsoleted by the fact that we expose TypeScript typings now?

[2022-08-09 10:41] marekdedic opened #378 "Remove bundled-in dependencies"
Some files in the docs folder are hard-bundled dependencies. They should instead be built/copied.

[code]

[2022-08-09 11:16] marekdedic opened #380 "Test using source files directly"
Currently, the tests are run using build artifacts in `docs/`. It should be possible and preferable to test the source files directly.

[2022-08-09 11:20] marekdedic opened #381 "Collect test coverage"

[2022-08-09 11:29] marekdedic opened #382 "Don't use `<button>`"
Using `<button>` exposes the lightbox to external styling. Instead a div with styles should be used

[2022-08-09 12:07] #382 closed

[2022-11-03 18:31] cstielper opened #457 "Where did the "dist" folder go?"
I used to come here and download the "imagelightbox.min.js" and "imagelightbox.min.css" from the "dist" folder to use in my projects. But, that folder no longer exists. How do you use this project now? Thanks.

[2022-11-04 08:20] marekdedic commented on #457
Hi,
the build artifacts are no longer included in the repo because this was problematic and it was getting de-synced. I recommend using the latest release from [NPM](https://www.npmjs.com/package/imagelightbox). Alternatively, you can clone the repo and run `npm ci && npm run build` to create the `dist` folder.

[2022-11-04 08:20] #457 closed